input{
    display: block;
    margin: 20px;
}
#button{
    width: 100px;
    height: 30px;
    border:none;
}
#textBox{
    width:200px;
    height: 30px;
}
body{
    margin: 0;
    background-color: black;
}